*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px;
}
.banner{
    background-image: url(./images/flat-lay-arrangement-desk-elements-with-copy-space\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
     margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 600px;
}

.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.links{
    text-decoration: none;
    font-weight: 600;
    color: black;
    
}

.links:hover{
    text-decoration: underline;
    color: white;
}

.home-img{
    width: 10%;
    height: 20%;
    position: absolute;
}

.group1{
    position: absolute;
    height: 100%;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 63, 3);
    border-radius: 50%;
}
.home-content{
     margin: 12% 0px 0px 8%;
}
#username{
    font-size: 30px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#lname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
#user-details{
    line-height: 1.1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 29px;
    margin-left: 100px;
    margin-top:-40px ;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 150px;
}

#About{
  margin: 10% 30% 0px 5%;
}

.SectionHead{
    align-items: center;
    
}

.Mainhead{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center ;
    margin-left: 300px;
}

.AboutBody{
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr); 
    align-items: center;
}

.aboutcontent{
    font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;

}
#skill{
    margin: 10% 8% 5% 8% ;
    padding-left: 250px;
}
    

.skillcontent{
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    border-radius: 50%;
    margin: 20px;
    margin-left: 200px;
    
    
}

#Contact{
    margin-top: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-image: url(images/WhatsApp\ Image\ 2025-07-10\ at\ 1.34.55\ PM.jpeg);
     background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}


.information{
    margin-top: 1.3rem;
    
}


.infobox{
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    margin-left: 900px;
    background-color: rgb(227, 195, 121);
}


.IconCollection{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.icon{
    width: 20px;
    height: 50px;
    border-radius: 50%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 20px;

}

.brands{
    color: black ;
    font-size: 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
a{
     text-decoration: none;
    font-weight: 600;
    color: black;
    
}
    
footer{
    margin-top: 8%;
    background-color: rgb(237, 219, 106);
    padding: 30px;

}

.upArrow{
    float: right;
    margin: -30px 20px 20px 0px;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: bisque;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(128, 90, 0);
    border-radius: 10px;
}
.wishes{
    margin-left: 700px;
    font-family: 'Courier New', Courier, monospace;
}
